@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 16.9%;           /* cinza */ 
    --foreground: 240 10% 3.9%;
    --card: 0 100% 50%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 100% 50%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 258 67.6% 81.2%;           /* roxo */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 100% 50%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 100% 50%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 100% 50%;
    --input: 0 100% 50%;
    --ring: 240 10% 3.9%;
    --chart-1: 0 100% 50%;
    --chart-2: 0 100% 50%;
    --chart-3: 0 100% 50%;
    --chart-4: 0 100% 50%;
    --chart-5: 0 100% 50%;
    --radius: 15px;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}